$blackColor: #000;
$whiteColor: #fff;
$primaryColor: #009ca8;
$secondaryColor: #d91e27;
$borderColor: #dee2e6;
$yellowcolor: #e68a00;
$lightBlack: #212529;
$lightGray: #adb5bd;
$borderColor: #e9ecef;
$bodyBg: #f8f9fa;
$textColor: #6c757d;
$fontSize: 18px;
